{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  rel="stylesheet" 
  type="text/css" 
  href="{% static 'css/loans/loan-detail.css' %}"
/>
{% endblock %}

{% block content %}

<section class="loan-container">
  <div class="loan-img">
    <img 
      src="{% static 'images/sk8r-boi-cat.svg' %}" 
      alt="Loan Picture"
    >
  </div>
  <div class="loan-details">
    <h1>{{ loan.name }}</h1>
    {% if loan.dateDue %} 
      <p> This loan for ${{ loan.amount }} was created on {{ loan.dateCreated }} </p>
      <p> This loan is due on {{ loan.dateDue }} by {{ loan.debtor }}</p> 
    {% else %}
      <p> This Loan has no due date </p>
    {% endif %}
    <div> Note: {{ loan.description }} </div>
    <p>{{ loan.description }}</p>
    <div class="loan-actions">
      <a href="{% url 'loan-update' loan.id %}" class="btn warn">Edit</a>
      <a href="{% url 'loan-delete' loan.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>

{% endblock %}

